<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<% if @product.images.attached? %>
  <div class="product-images">
    <% @product.images.each do |image| %>
      <%= image_tag image, class: "img-thumbnail" %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
